PORT=4001
DATABASE_PATH=./data/history.db
OIDC_ISSUER=https://auth.binjomin.hu
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_REDIRECT_URI=https://gemara.myshiurim.com/
CORS_ORIGIN=https://gemara.myshiurim.com
